@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;

  --card: rgba(255, 255, 255, 0.05);
  --card-border: rgba(255, 255, 255, 0.08);

  --primary: #3b82f6;

  --secondary-text: #a1a1aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}